/*** align-items.less ***/

.row--align-start {
  align-items: flex-start; 
}

.row--align-end {
  align-items: flex-end; 
}

.row--align-center {
  align-items: center; 
}

.row--align-stretch {
  align-items: stretch; 
}

.row--align-baseline {
  align-items: baseline; 
}