/*** container.less ***/

.container {
  padding-left: @grid-gutter-width / 2;
  padding-right: @grid-gutter-width / 2;
  margin-left: auto;
  margin-right: auto;
  
  max-width: 100%;
    
  box-sizing: border-box;
  
  &-fluid {
    width: 100%;
  }
}

@media (min-width: @md-min-width) {
  .container {
    width: @md-min-width - 22px; 
  }
}

@media (min-width: @lg-min-width) {
  .container {
    width: @lg-min-width - 30px; 
  }
}

/*** 3. Row ***/

.row {
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: @sm-min-width) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}