/*** justify-content.less ***/

.row--justify-start {
  justify-content: flex-start; 
}

.row--justify-end {
  justify-content: flex-end; 
}

.row--justify-center {
  justify-content: center; 
}

.row--justify-between {
  justify-content: space-between; 
}

.row--justify-around {
  justify-content: space-around; 
}