/*** justify-content.less ***/

.generate-justify-content (@prefix:~'') {
  .row--@{prefix}justify-start {
    justify-content: flex-start; 
  }

  .row--@{prefix}justify-end {
    justify-content: flex-end; 
  }

  .row--@{prefix}justify-center {
    justify-content: center; 
  }

  .row--@{prefix}justify-between {
    justify-content: space-between; 
  }

  .row--@{prefix}justify-around {
    justify-content: space-around; 
  } 
}

.generate-justify-content();

@media (min-width: @sm-min-width) {
  .generate-justify-content(sm-);
}

@media (min-width: @md-min-width) {
  .generate-justify-content(md-);
}

@media (min-width: @lg-min-width) {
  .generate-justify-content(lg-);
}
