/*** mixins.less ***/

.column-size (@col) {
  flex-basis: 100% / 12 * @col;
  max-width: 100% / 12 * @col;
  width: 100% / 12 * @col;
}

.column-offset (@col) {
  margin-left: 100% / 12 * @col;
}

.cols-loop (@i, @prefix) when (@i > 0) {
  .col@{prefix}@{i} {
    .column-size(@i);
  }
  .cols-loop(@i - 1, @prefix);
}